.row
  .col-sm-8.col-sm-offset-2
    = simple_form_for @url, html: { class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
      = f.error_notification

      = f.input :regular, label: 'Regular URL'
      - if f.object.persisted?
        = f.input :short, label: 'Short URL slug'

      .text-right
        = f.submit 'Save', class: 'btn btn-primary'
