%tr
  %td= link_to url, url.regular, target: '_blank'
  %td= link_to short_url(url.short), short_url(url.short), target: '_blank'
  %td= url.usages_count
  %td
    = link_to 'Edit', edit_url_path(url)
    &bull;
    = link_to 'Remove', url_path(url), method: :delete, data: { confirm: 'Are you sure you want to remove this URL?' }
