%h1= @page_title

.row
  .col-sm-12
    - if @urls.present?
      %table.table
        %thead
          %th URL
          %th Short Url
          %th Used Times
          %th Actions
        %tbody
          = render @urls
    - else
      %p No URLs exist yet.

.row
  .col-sm-12
    = link_to 'Add new URL', new_url_path, class: 'btn btn-primary'

- if @old_urls.present?
  .row
    .col-sm-12
      %h2 URLs that are going to be removed tomorrow
      %thead
        %th URL
        %th Short Url
        %th Used Times
        %th Actions
      %tbody
        = render @urls
