%h1= @page_title

.row
  .col-sm-12
    - if @usages.present?
      %table.table
        %thead
          %th When
          %th Who
          %th Url
          %th Short URL
        %tbody
          = render @usages
    - else
      %p No logs exist yet.
