!!!
%html
  %head
    %title UrlShortener

    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    .container-fluid
      .row.main-container
        .col-md-12
          - flash.each do |name, msg|
            %div{class: "alert alert-row alert-dismissible alert-#{name}"}
              %button.close{'data-dismiss' => 'alert', :type => 'button'}
                %span{'aria-hidden' => 'true'} ×
                %span.sr-only Close
              = msg

          = link_to 'Home', root_path
          &bull;
          = link_to 'Logs', usages_path

          = yield
